<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <ng-container *ngIf="!isQuizOpen; else elseTemplate">
        <div class="card">
          <div class="card-body">
            <button class="btn btn-primary" (click)="showQuiz()">
              Start Quiz
            </button>
          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <p id="demo"></p>
        <owl-carousel-o [options]="customOptions">
          <ng-container *ngFor="let item of questions; let i = index;let lastElement = last">
            <ng-template carouselSlide [id]="">
              <div class="card">
                <div class="card-body">
                  <h5>
                    Q{{i+1}}. {{item.question}}
                  </h5>
                  <div class="form-check-inline">
                    <div class="form-check-inline" *ngFor="let option of item.options">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="question{{i+1}}" value="{{option}}"
                          [checked]="false" (change)="onOptionChange(option,i)">
                        {{option}}
                      </label>
                    </div>
                  </div>
                </div>
                <div *ngIf="lastElement" class="text-center my-2">
                  <button class="btn btn-success" (click)="submit(questions)">Submit</button>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </ng-template>
    </div>
  </div>
</div>

<!-- <button (click)="sendEmail()">send email</button> -->

<ng-template #resultModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Your Result</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <strong>
          Name :
        </strong>
        <span>
          {{userInfo?.fullName}}
        </span>
      </div>
      <div class="col-md-6">
        <strong>
          Email :
        </strong>
        <span>
          {{userInfo?.emailId}}
        </span>
      </div>
      <div class="col-md-12 text-center">
         Your total score is
         <h4>
           {{totalScore}}
         </h4>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
